<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sodabodyfit.moms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permissions.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permissions.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecoveryPasswordActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpandWorkoutActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseListActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchemasActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiscalmierActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>